/*
 * Clases reutilizables para el proyecto
 * (Aquí pueden ir las clases de tu grid)
 */

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.row:before, .row:after{
	content: "";
	display: table;
}

.row:after{
	clear: both;
}
